.custom-asidenav-list {
  transition: 0.2s ease-in-out background;
  cursor: pointer !important;
}
.custom-asidenav-list,
.custom-asidenav-list
  span.mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
  color: white !important;
}

.custom-asidenav-list:hover {
  background-color: #0002;
}
